Gsmu.Api/Service References/TCSSingleService/TCSSingleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:version="version: 1.0 %date_created: Wednesday, September 15, 2010 12:09:19 PM % file %version: 14 %" xmlns:tns="http://fms.treas.gov/tcs/schemas" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tcs="http://fms.treas.gov/tcs/schemas" xmlns:xsd1="http://fms.treas.gov/tcs/schemas" targetNamespace="http://fms.treas.gov/tcs/schemas" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" wsu:Id="Version">
    <tcs:Version value="version: 1.0 - %date_created: Wednesday, September 15, 2010 12:09:19 PM % - file %version: 14 %" />
  </wsp:Policy>
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://fms.treas.gov/tcs/schemas">
      <xs:include schemaLocation="transaction_types.xsd" />
      <xs:include schemaLocation="faults.xsd" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="ACHDebitRequest">
    <wsdl:part name="body" element="xsd1:ACHDebitRequest" />
  </wsdl:message>
  <wsdl:message name="ACHDebitResponse">
    <wsdl:part name="parameter" element="xsd1:ACHDebitResponse" />
  </wsdl:message>
  <wsdl:message name="ACHPrenotificationRequest">
    <wsdl:part name="body" element="xsd1:ACHPrenotificationRequest" />
  </wsdl:message>
  <wsdl:message name="ACHPrenotificationResponse">
    <wsdl:part name="parameter" element="xsd1:ACHPrenotificationResponse" />
  </wsdl:message>
  <wsdl:message name="ACHCancelRequest">
    <wsdl:part name="body" element="xsd1:ACHCancelRequest" />
  </wsdl:message>
  <wsdl:message name="ACHCancelResponse">
    <wsdl:part name="parameter" element="xsd1:ACHCancelResponse" />
  </wsdl:message>
  <wsdl:message name="PCAuthorizationRequest">
    <wsdl:part name="body" element="xsd1:PCAuthorizationRequest" />
  </wsdl:message>
  <wsdl:message name="PCAuthorizationResponse">
    <wsdl:part name="parameter" element="xsd1:PCAuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="PCManualAuthorizationRequest">
    <wsdl:part name="body" element="xsd1:PCManualAuthorizationRequest" />
  </wsdl:message>
  <wsdl:message name="PCManualAuthorizationResponse">
    <wsdl:part name="parameter" element="xsd1:PCManualAuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="PCSaleRequest">
    <wsdl:part name="body" element="xsd1:PCSaleRequest" />
  </wsdl:message>
  <wsdl:message name="PCSaleResponse">
    <wsdl:part name="parameter" element="xsd1:PCSaleResponse" />
  </wsdl:message>
  <wsdl:message name="PCForceRequest">
    <wsdl:part name="body" element="xsd1:PCForceRequest" />
  </wsdl:message>
  <wsdl:message name="PCForceResponse">
    <wsdl:part name="parameter" element="xsd1:PCForceResponse" />
  </wsdl:message>
  <wsdl:message name="PCForceWithoutPaygovTrackingIdRequest">
    <wsdl:part name="body" element="xsd1:PCForceWithoutPaygovTrackingIdRequest" />
  </wsdl:message>
  <wsdl:message name="PCForceWithoutPaygovTrackingIdResponse">
    <wsdl:part name="parameter" element="xsd1:PCForceWithoutPaygovTrackingIdResponse" />
  </wsdl:message>
  <wsdl:message name="PCRefundRequest">
    <wsdl:part name="body" element="xsd1:PCRefundRequest" />
  </wsdl:message>
  <wsdl:message name="PCRefundResponse">
    <wsdl:part name="parameter" element="xsd1:PCRefundResponse" />
  </wsdl:message>
  <wsdl:message name="PCRefundWithoutPaygovTrackingIdRequest">
    <wsdl:part name="body" element="xsd1:PCRefundWithoutPaygovTrackingIdRequest" />
  </wsdl:message>
  <wsdl:message name="PCRefundWithoutPaygovTrackingIdResponse">
    <wsdl:part name="parameter" element="xsd1:PCRefundWithoutPaygovTrackingIdResponse" />
  </wsdl:message>
  <wsdl:message name="PCCancelRequest">
    <wsdl:part name="body" element="xsd1:PCCancelRequest" />
  </wsdl:message>
  <wsdl:message name="PCCancelResponse">
    <wsdl:part name="parameter" element="xsd1:PCCancelResponse" />
  </wsdl:message>
  <wsdl:message name="TCSErrorResponseMessage">
    <wsdl:part name="parameter" element="xsd1:ErrorResponse" />
  </wsdl:message>
  <wsdl:portType name="TCSSinglePortType">
    <wsdl:operation name="processACHDebit">
      <wsdl:input message="xsd1:ACHDebitRequest" />
      <wsdl:output message="xsd1:ACHDebitResponse" />
      <wsdl:fault name="tcs_fault" message="xsd1:TCSErrorResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="processACHPrenotification">
      <wsdl:input message="xsd1:ACHPrenotificationRequest" />
      <wsdl:output message="xsd1:ACHPrenotificationResponse" />
      <wsdl:fault name="tcs_fault" message="xsd1:TCSErrorResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="processACHCancel">
      <wsdl:input message="xsd1:ACHCancelRequest" />
      <wsdl:output message="xsd1:ACHCancelResponse" />
      <wsdl:fault name="tcs_fault" message="xsd1:TCSErrorResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="processPCAuthorization">
      <wsdl:input message="xsd1:PCAuthorizationRequest" />
      <wsdl:output message="xsd1:PCAuthorizationResponse" />
      <wsdl:fault name="tcs_fault" message="xsd1:TCSErrorResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="processPCManualAuthorization">
      <wsdl:input message="xsd1:PCManualAuthorizationRequest" />
      <wsdl:output message="xsd1:PCManualAuthorizationResponse" />
      <wsdl:fault name="tcs_fault" message="xsd1:TCSErrorResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="processPCSale">
      <wsdl:input message="xsd1:PCSaleRequest" />
      <wsdl:output message="xsd1:PCSaleResponse" />
      <wsdl:fault name="tcs_fault" message="xsd1:TCSErrorResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="processPCForce">
      <wsdl:input message="xsd1:PCForceRequest" />
      <wsdl:output message="xsd1:PCForceResponse" />
      <wsdl:fault name="tcs_fault" message="xsd1:TCSErrorResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="processPCForceWithoutPaygovTrackingId">
      <wsdl:input message="xsd1:PCForceWithoutPaygovTrackingIdRequest" />
      <wsdl:output message="xsd1:PCForceWithoutPaygovTrackingIdResponse" />
      <wsdl:fault name="tcs_fault" message="xsd1:TCSErrorResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="processPCRefund">
      <wsdl:input message="xsd1:PCRefundRequest" />
      <wsdl:output message="xsd1:PCRefundResponse" />
      <wsdl:fault name="tcs_fault" message="xsd1:TCSErrorResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="processPCRefundWithoutPaygovTrackingId">
      <wsdl:input message="xsd1:PCRefundWithoutPaygovTrackingIdRequest" />
      <wsdl:output message="xsd1:PCRefundWithoutPaygovTrackingIdResponse" />
      <wsdl:fault name="tcs_fault" message="xsd1:TCSErrorResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="processPCCancel">
      <wsdl:input message="xsd1:PCCancelRequest" />
      <wsdl:output message="xsd1:PCCancelResponse" />
      <wsdl:fault name="tcs_fault" message="xsd1:TCSErrorResponseMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TCSSingleRequestBinding" type="xsd1:TCSSinglePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="processACHDebit">
      <soap:operation soapAction="urn:ProcessACHDebit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="tcs_fault">
        <soap:fault use="literal" name="tcs_fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="processACHPrenotification">
      <soap:operation soapAction="urn:processACHPrenotification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="tcs_fault">
        <soap:fault use="literal" name="tcs_fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="processACHCancel">
      <soap:operation soapAction="urn:ProcessACHCancel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="tcs_fault">
        <soap:fault use="literal" name="tcs_fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="processPCAuthorization">
      <soap:operation soapAction="urn:ProcessPCAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="tcs_fault">
        <soap:fault use="literal" name="tcs_fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="processPCManualAuthorization">
      <soap:operation soapAction="urn:ProcessPCManualAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="tcs_fault">
        <soap:fault use="literal" name="tcs_fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="processPCSale">
      <soap:operation soapAction="urn:ProcessPCSale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="tcs_fault">
        <soap:fault use="literal" name="tcs_fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="processPCForce">
      <soap:operation soapAction="urn:ProcessPCForce" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="tcs_fault">
        <soap:fault use="literal" name="tcs_fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="processPCForceWithoutPaygovTrackingId">
      <soap:operation soapAction="urn:ProcessPCForceWithoutPaygovTrackingId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="tcs_fault">
        <soap:fault use="literal" name="tcs_fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="processPCRefund">
      <soap:operation soapAction="urn:ProcessPCRefund" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="tcs_fault">
        <soap:fault use="literal" name="tcs_fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="processPCRefundWithoutPaygovTrackingId">
      <soap:operation soapAction="urn:ProcessPCRefundWithoutPaygovTrackingId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="tcs_fault">
        <soap:fault use="literal" name="tcs_fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="processPCCancel">
      <soap:operation soapAction="urn:ProcessPCCancel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="tcs_fault">
        <soap:fault use="literal" name="tcs_fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TCSSingleService">
    <wsp:PolicyReference URI="#Version" />
    <wsdl:port name="TCSSinglePort" binding="xsd1:TCSSingleRequestBinding">
      <soap:address location="https://qa.tcs.pay.gov/tcscollections/services/TCSSingleService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>