Gsmu.Api/Service References/TCSOnlineService/TCSOnlineService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://fms.treas.gov/services/tcsonline" xmlns:cns="http://fms.treas.gov/services/common" targetNamespace="http://fms.treas.gov/services/tcsonline" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="tcs_common_types.xsd" namespace="http://fms.treas.gov/services/common" />
  <xs:element name="TCSServiceFault" type="tns:TCSServiceFault" />
  <xs:element name="startOnlineCollection" type="tns:StartOnlineCollection" />
  <xs:element name="startOnlineCollectionResponse" type="tns:StartOnlineCollectionResponseType" />
  <xs:element name="completeOnlineCollection" type="tns:CompleteOnlineCollection" />
  <xs:element name="completeOnlineCollectionResponse" type="tns:CompleteOnlineCollectionResponseType" />
  <xs:element name="completeOnlineCollectionWithDetails" type="tns:CompleteOnlineCollectionWithDetails" />
  <xs:element name="completeOnlineCollectionWithDetailsResponse" type="tns:CompleteOnlineCollectionWithDetailsResponseType" />
  <xs:element name="createForce" type="tns:CreateForce" />
  <xs:element name="createForceResponse" type="tns:CreateForceResponseType" />
  <xs:element name="createForceWithDetails" type="tns:CreateForceWithDetails" />
  <xs:element name="createForceWithDetailsResponse" type="tns:CreateForceWithDetailsResponseType" />
  <xs:element name="getDetails" type="tns:GetDetails" />
  <xs:element name="getDetailsResponse" type="tns:GetDetailsResponseType" />
  <xs:complexType name="StartOnlineCollection">
    <xs:sequence>
      <xs:element minOccurs="1" name="startOnlineCollectionRequest" type="tns:StartOnlineCollectionRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StartOnlineCollectionRequest">
    <xs:sequence>
      <xs:element name="tcs_app_id" type="cns:TCSApplicationID" />
      <xs:element name="agency_tracking_id" type="cns:AgencyTrackingID" />
      <xs:element name="transaction_type" type="tns:TransactionType" />
      <xs:element name="transaction_amount" type="cns:TCSDollarAmount" />
      <xs:element name="language" type="tns:Language" />
      <xs:element name="url_success" type="tns:TCSOUrl" />
      <xs:element name="url_cancel" type="tns:TCSOUrl" />
      <xs:element minOccurs="0" name="account_holder_name" type="cns:AccountHolderName" />
      <xs:element minOccurs="0" name="billing_address" type="cns:BillingAddress" />
      <xs:element minOccurs="0" name="billing_address2" type="cns:BillingAddress" />
      <xs:element minOccurs="0" name="billing_city" type="cns:BillingCity" />
      <xs:element minOccurs="0" name="billing_state" type="cns:BillingState" />
      <xs:element minOccurs="0" name="billing_zip" type="cns:BillingZip" />
      <xs:element minOccurs="0" name="billing_country" type="cns:TCSCountryCode" />
      <xs:element minOccurs="0" name="email_address" type="cns:TCSEmail" />
      <xs:element minOccurs="0" name="custom_fields" type="tns:CustomCollectionFields" />
      <xs:element minOccurs="0" name="classification" type="tns:classification" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StartOnlineCollectionResponseType">
    <xs:sequence>
      <xs:element minOccurs="0" name="startOnlineCollectionResponse" type="tns:StartOnlineCollectionResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StartOnlineCollectionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="token" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomCollectionFields">
    <xs:sequence>
      <xs:element minOccurs="0" name="custom_field_1" type="cns:CustomFieldValue" />
      <xs:element minOccurs="0" name="custom_field_2" type="cns:CustomFieldValue" />
      <xs:element minOccurs="0" name="custom_field_3" type="cns:CustomFieldValue" />
      <xs:element minOccurs="0" name="custom_field_4" type="cns:CustomFieldValue" />
      <xs:element minOccurs="0" name="custom_field_5" type="cns:CustomFieldValue" />
      <xs:element minOccurs="0" name="custom_field_6" type="cns:CustomFieldValue" />
      <xs:element minOccurs="0" name="custom_field_7" type="cns:CustomFieldValue" />
      <xs:element minOccurs="0" name="custom_field_8" type="cns:CustomFieldValue" />
      <xs:element minOccurs="0" name="custom_field_9" type="cns:CustomFieldValue" />
      <xs:element minOccurs="0" name="custom_field_10" type="cns:CustomFieldValue" />
      <xs:element minOccurs="0" name="custom_field_11" type="cns:CustomFieldValue" />
      <xs:element minOccurs="0" name="custom_field_12" type="cns:CustomFieldValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TCSServiceFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="return_code" type="xs:string" />
      <xs:element minOccurs="0" name="return_detail" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="classification">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="classification_data" type="tns:classificationData" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="classificationData">
    <xs:sequence />
    <xs:attribute name="classification_id" type="xs:string" use="required" />
    <xs:attribute name="amount" type="cns:DollarAmount" use="required" />
  </xs:complexType>
  <xs:complexType name="CompleteOnlineCollection">
    <xs:sequence>
      <xs:element minOccurs="1" name="completeOnlineCollectionRequest" type="tns:CompleteOnlineCollectionRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompleteOnlineCollectionRequest">
    <xs:sequence>
      <xs:element name="tcs_app_id" type="cns:TCSApplicationID" />
      <xs:element name="token" type="tns:Token" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompleteOnlineCollectionResponseType">
    <xs:sequence>
      <xs:element minOccurs="0" name="completeOnlineCollectionResponse" type="tns:CompleteOnlineCollectionResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompleteOnlineCollectionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="paygov_tracking_id" type="cns:paygov_tracking_id" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompleteOnlineCollectionWithDetails">
    <xs:sequence>
      <xs:element minOccurs="1" name="completeOnlineCollectionWithDetailsRequest" type="tns:CompleteOnlineCollectionWithDetailsRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompleteOnlineCollectionWithDetailsRequest">
    <xs:sequence>
      <xs:element name="tcs_app_id" type="cns:TCSApplicationID" />
      <xs:element name="token" type="tns:Token" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompleteOnlineCollectionWithDetailsResponseType">
    <xs:sequence>
      <xs:element minOccurs="0" name="completeOnlineCollectionWithDetailsResponse" type="tns:CompleteOnlineCollectionWithDetailsResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompleteOnlineCollectionWithDetailsResponse">
    <xs:sequence>
      <xs:element name="paygov_tracking_id" type="cns:paygov_tracking_id" />
      <xs:element name="agency_tracking_id" type="cns:AgencyTrackingID" />
      <xs:element name="transaction_amount" type="cns:DollarAmount" />
      <xs:element name="transaction_type" type="xs:string" />
      <xs:element name="transaction_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="payment_date" type="xs:date" />
      <xs:element name="transaction_status" type="xs:string" />
      <xs:element name="payment_type" type="tns:PaymentType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreateForce">
    <xs:sequence>
      <xs:element minOccurs="1" name="createForceRequest" type="tns:CreateForceRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreateForceRequest">
    <xs:sequence>
      <xs:choice>
        <xs:element minOccurs="0" name="paygov_tracking_id" type="cns:paygov_tracking_id" />
        <xs:element minOccurs="0" name="agency_tracking_id" type="cns:AgencyTrackingID" />
      </xs:choice>
      <xs:element name="tcs_app_id" type="cns:TCSApplicationID" />
      <xs:element name="transaction_amount" type="cns:DollarAmount" />
      <xs:element minOccurs="0" name="classification" type="tns:classification" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreateForceResponseType">
    <xs:sequence>
      <xs:element minOccurs="0" name="createForceResponse" type="tns:CreateForceResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreateForceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="paygov_tracking_id" type="cns:paygov_tracking_id" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreateForceWithDetails">
    <xs:sequence>
      <xs:element minOccurs="1" name="createForceWithDetailsRequest" type="tns:CreateForceWithDetailsRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreateForceWithDetailsRequest">
    <xs:sequence>
      <xs:choice>
        <xs:element minOccurs="0" name="paygov_tracking_id" type="cns:paygov_tracking_id" />
        <xs:element minOccurs="0" name="agency_tracking_id" type="cns:AgencyTrackingID" />
      </xs:choice>
      <xs:element name="tcs_app_id" type="cns:TCSApplicationID" />
      <xs:element name="transaction_amount" type="cns:DollarAmount" />
      <xs:element minOccurs="0" name="classification" type="tns:classification" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreateForceWithDetailsResponseType">
    <xs:sequence>
      <xs:element minOccurs="0" name="createForceWithDetailsResponse" type="tns:CreateForceWithDetailsResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreateForceWithDetailsResponse">
    <xs:sequence>
      <xs:element name="paygov_tracking_id" type="cns:paygov_tracking_id" />
      <xs:element name="agency_tracking_id" type="cns:AgencyTrackingID" />
      <xs:element name="transaction_amount" type="cns:DollarAmount" />
      <xs:element name="transaction_type" type="xs:string" />
      <xs:element name="transaction_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="payment_date" type="xs:date" />
      <xs:element name="transaction_status" type="xs:string" />
      <xs:element name="payment_type" type="tns:PaymentType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetDetails">
    <xs:sequence>
      <xs:element minOccurs="1" name="getDetailsRequest" type="tns:GetDetailsRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetDetailsRequest">
    <xs:sequence>
      <xs:element name="tcs_app_id" type="cns:TCSApplicationID" />
      <xs:group minOccurs="0" ref="tns:getDetailsSearchCriteria" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetDetailsResponseType">
    <xs:sequence>
      <xs:element minOccurs="0" name="getDetailsResponse" type="tns:GetDetailsResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetDetailsResponse">
    <xs:sequence>
      <xs:element name="transactions" type="tns:transactions" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="transactions">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="transaction" type="tns:transactionData" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="transactionData">
    <xs:sequence>
      <xs:element name="paygov_tracking_id" type="cns:paygov_tracking_id" />
      <xs:element name="agency_tracking_id" type="cns:AgencyTrackingID" />
      <xs:element name="transaction_amount" type="cns:DollarAmount" />
      <xs:element name="transaction_type" type="xs:string" />
      <xs:element name="transaction_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="payment_date" type="xs:date" />
      <xs:element name="transaction_status" type="xs:string" />
      <xs:element name="payment_type" type="tns:PaymentType" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PaymentType">
    <xs:annotation>
      <xs:documentation>Payment type for the transaction</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="PLASTIC_CARD" />
      <xs:enumeration value="ACH" />
      <xs:enumeration value="ACH_CREDIT" />
      <xs:enumeration value="AMAZON" />
      <xs:enumeration value="PAYPAL" />
      <xs:enumeration value="DWOLLA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TransactionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Authorization" />
      <xs:enumeration value="Sale" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Language">
    <xs:restriction base="xs:string">
      <xs:maxLength value="5" />
      <xs:minLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Token">
    <xs:restriction base="cns:TCSAlphaNumericPlus">
      <xs:maxLength value="32" />
      <xs:minLength value="8" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TCSOUrl">
    <xs:restriction base="xs:anyURI">
      <xs:minLength value="1" />
      <xs:maxLength value="2048" />
    </xs:restriction>
  </xs:simpleType>
  <xs:group name="getDetailsSearchCriteria">
    <xs:sequence>
      <xs:choice>
        <xs:element minOccurs="0" name="agency_tracking_id" type="cns:AgencyTrackingID" />
        <xs:element minOccurs="0" name="paygov_tracking_id" type="cns:paygov_tracking_id" />
      </xs:choice>
    </xs:sequence>
  </xs:group>
</xs:schema>